body{
	background-color: #F8BBD0;
}

.main-content {
	margin-bottom: 200px;
}

.banner {
	margin: 2em 0;
}

.blog-items .row {
	margin-bottom: 2em;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
    background: #E91E63;
    color: #FFFFFF;
    line-height: 2.8125rem;
    padding: 0 0.9375rem;
    font-family: 'Lato', sans-serif;
}

.top-bar-section li:not(.has-form) a:not(.button) {
    background: #E91E63;
    line-height: 2.8125rem;
    padding: 0 0.9375rem;
}

a:-webkit-any-link {
    color: #F8BBD0;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
 }

 .top-bar-section ul li > a {
 	font-family: 'Lato', sans-serif;
 }

 .top-bar .name h1 a, .top-bar .name h2 a, .top-bar .name h3 a, .top-bar .name h4 a, .top-bar .name p a, .top-bar .name span a {
    color: #E91E63;
    display: block;
    font-weight: normal;
    padding: 0 0.9375rem;
    width: 100%;
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
}

.top-bar .name h1 a img{
	margin-right: 8px;
}

 footer {
	background-color: #E91E63;
	color: #F8BBD0;
	position:fixed;
   	bottom:0;
   	width:100%;
   	padding:15px 0; 
}

div h4{
	color: #1A237E;
	font-family: 'Lato', sans-serif;
	text-align: left;
}

div h1 {
	color: #E91E63;
	font-family: 'Lato', sans-serif;
	text-align: center;
	padding: 20px;
}

div h2 {
	color: #1A237E
}

footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.icon-list {
	text-align: center;
}
.icon-list ul{
	text-align: center;
	margin: -15px;
	padding: 0;
	list-style: none;
}

.icon-list li{
	display: inline-block;
}

.icon-list li i{
	font-size: 24px;
}

.row .large-8 {
	text-align: center;
}

.header h2 {
	color: #1A237E;
	font-family: 'Lato', sans-serif;
	text-align: center;
}

.wrapper h2 {
	color: #1A237E;
	font-family: 'Lato', sans-serif;
	text-align: left;
}

.top-bar h1{
	color: #F8BBD0;
	font-size: 35px;
}

.name h1 {
	color: #F8BBD0;
}



.title-area h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 15px;
}

.button  .clear .subscribe div{
	background-color: #E91E63;
}

.row p {
	font-family: 'Raleway', sans-serif;
	text-align: left;
}

.row h4 {
	font-family: 'Lato', sans-serif;
}

.panel  {
  background-color: #1A237E ;
}
.top-bar  {
  background-color: #1A237E ;
}

.right .top-bar-section section {
	background-color: #1A237E;
}

.panel h4 {
	color:#fff;
}

.panel p {
	color: #fff;
}

.radius-button-right div {
	background-color: red;
} 

.right ul {

	background-color: #000;
}


div img {
	width:100%;
}

/* unvisited link */
a:link {
    color: #fff;
}

/* visited link */
a:visited {
    color: #F8BBD0;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}
